<h1>
    templates websites bootstrap
</h1>

<p>
    Collection of FREE templates for build websites.  
    <br>
    Most are made with Bootstrap Twitter.

</p>


<h2>
    Liste templates : 
</h2>


OK : 

https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/pizza-gh-pages/
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/food-funday-master/

_A_tester : 

https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/Mamma-s-Kitchen-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/MeatKing-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/Osteriax-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/Restaurant-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/awesplash-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/bistro.1.0/bistro 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/classimax-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/eatwell-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/flatter-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/food-funday-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/foodfun 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/luigis 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/luto 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/marco 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/pato-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/pizza 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/pizza-gh-pages 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/pulse 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/restaurant 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/restaurant-html-template-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/risotto-colorlib 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/taste-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/thegrill-master 	
https://v20100t.gitlab.io/templates-websites-bootstrap/Restaurant/_A_tester/yummy-master 


